@inherits RazorTemplateFolderHost<RazorHostingTests.Person>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    @this.RenderPartial("~/Header_Partial.cshtml", Model)

    @Model.Name @Model.Company @Model.Address.City @Model.Entered 
    
    @{for (int i = 0; i < 10; i++)
      {
          Response.WriteLine(i + ".");
      }   
</body>
</html>